/.dev
/.idea
/*.iml
examples/compose/data/rtorrent/.session/rtorrent.dht_cache
examples/compose/data/rtorrent/.session/rtorrent.input_history
examples/compose/data/rutorrent/rutorrent.log
examples/compose/data/rutorrent/share/users/rtorrent/settings/rss/cache/info
examples/compose/data/geoip/GeoLite2-City.mmdb
examples/compose/data/geoip/GeoLite2-Country.mmdb
examples/compose/data/rtorrent/.rtorrent.rc
examples/compose/data/rtorrent/.session/rtorrent.lock
examples/compose/data/rtorrent/log/rtorrent.log
examples/compose/data/rutorrent/conf/access.ini
examples/compose/data/rutorrent/conf/plugins.ini
examples/compose/data/rutorrent/share/users/rtorrent/settings/extsearch.dat
examples/compose/data/rutorrent/share/users/rtorrent/settings/loginmgr.dat
examples/compose/data/rutorrent/share/users/rtorrent/settings/rtorrent.dat
examples/compose/data/rutorrent/share/users/rtorrent/settings/scheduler.dat
examples/compose/data/rutorrent/share/users/rtorrent/settings/trafic/global.csv
examples/compose/data/rutorrent/share/users/rtorrent/settings/trafic/last.csv
examples/compose/passwd/rpc.htpasswd
examples/compose/passwd/rutorrent.htpasswd
examples/compose/passwd/webdav.htpasswd
.env
geoip-updater.env
rtorrent-rutorrent.env
docker-compose.yml
data/autodl/autodl.cfg
data/geoip/GeoLite2-City.mmdb
data/geoip/GeoLite2-Country.mmdb
data/rtorrent/.rtorrent.rc
data/rtorrent/.session/rtorrent.dht_cache
data/rtorrent/.session/rtorrent.input_history
data/rtorrent/log/rtorrent.log
data/rutorrent/rutorrent.log
data/rutorrent/conf/access.ini
data/rutorrent/conf/plugins.ini
data/rutorrent/share/settings/cpu.dat
data/rutorrent/share/settings/extsearch.dat
data/rutorrent/share/settings/loginmgr.dat
data/rutorrent/share/settings/rtorrent.dat
data/rutorrent/share/settings/scheduler.dat
data/rutorrent/share/settings/uisettings.json
data/rutorrent/share/settings/rss/cache/info
data/rutorrent/share/settings/trafic/global.csv
data/rutorrent/share/settings/trafic/last.csv
data/rutorrent/share/users/rtorrent/settings/extsearch.dat
data/rutorrent/share/users/rtorrent/settings/loginmgr.dat
data/rutorrent/share/users/rtorrent/settings/rtorrent.dat
data/rutorrent/share/users/rtorrent/settings/scheduler.dat
data/rutorrent/share/users/rtorrent/settings/rss/cache/info
data/rutorrent/share/users/rtorrent/settings/trafic/global.csv
data/rutorrent/share/users/rtorrent/settings/trafic/last.csv
passwd/rpc.htpasswd
passwd/rutorrent.htpasswd
passwd/webdav.htpasswd
data/rtorrent/.session/rtorrent.lock
data/rutorrent/share/settings/autotools.dat
data/rutorrent/share/settings/cookies.dat
data/rutorrent/share/settings/history_data.dat
data/rutorrent/share/settings/trackers/tleechreload.org.ico
data/rutorrent/share/settings/trackers/torrentleech.org.ico
data/rutorrent/share/settings/trafic/trackers/tleechreload.org.csv
data/rutorrent/share/settings/trafic/trackers/torrentleech.org.csv
data/rutorrent/share/users/rtorrent/settings/history_data.dat
data/rutorrent/share/users/rtorrent/settings/trafic/trackers/tleechreload.org.csv
data/rutorrent/share/users/rtorrent/settings/trafic/trackers/torrentleech.org.csv
